@charset "UTF-8";

/* ********************************************************************

   **** Cloud Foundry                                 ****
   **** Updated: August 2011                          ****
   **** Version: 0.9                                  ****

*********************************************************************** */


.nav-menu ul {
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

#main-nav {
	background: -ms-linear-gradient(top, #f5f5f5 0%,#d5d8da 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#d5d8da',GradientType=0 ); /* IE6-9 */
}

#main-nav li:hover {
	background: -ms-linear-gradient(top, #e7ebee 0%,#b8bbbf 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7ebee', endColorstr='#b8bbbf',GradientType=0 ); /* IE6-9 */
}

#main-nav li.selected {
	background: -ms-linear-gradient(top, #cdcdcd 0%,#e0e0e0 20%,#f5f5f5 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

.gray-button a {
	background: -ms-linear-gradient(top, #ffffff 0%,#cdcdcd 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
}

.gray-button a:hover {
	background: -ms-linear-gradient(top, #cdcdcd 0%,#ffffff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.orange-button a {
	background: -ms-linear-gradient(top, #ff8d30 0%,#ff7300 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8d30', endColorstr='#ff7300',GradientType=0 ); /* IE6-9 */
}

.orange-button a:hover {
	background: -ms-linear-gradient(top, #ff7300 0%,#ff8d30 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7300', endColorstr='#ff8d30',GradientType=0 ); /* IE6-9 */
}

.dialog input.button-submit {
	background: -ms-linear-gradient(top, #0094d3 0%,#0073a5 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0094d3', endColorstr='#0073a5',GradientType=0 ); /* IE6-9 */
}

.dialog input.button-submit:hover {
	background: -ms-linear-gradient(top, #0073a5 0%,#0094d3 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0073a5', endColorstr='#0094d3',GradientType=0 ); /* IE6-9 */
}